# Data extraction from clash of clans API

In [259]:
import pandas as pd
import json

#Extracting data from api
headers = {
    'authorization': 'Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzUxMiIsImtpZCI6IjI4YTMxOGY3LTAwMDAtYTFlYi03ZmExLTJjNzQzM2M2Y2NhNSJ9.eyJpc3MiOiJzdXBlcmNlbGwiLCJhdWQiOiJzdXBlcmNlbGw6Z2FtZWFwaSIsImp0aSI6IjFmYTk1MjI5LTg1ZDItNDQ2ZS04ZTliLWE3NjIwYWM4YTIzOSIsImlhdCI6MTYxNzg1ODM3MSwic3ViIjoiZGV2ZWxvcGVyL2MxOTNmZjc2LTQyYzUtYjE5Ny0xN2IyLWI5ZTYzNmE4ODFmZSIsInNjb3BlcyI6WyJjbGFzaCJdLCJsaW1pdHMiOlt7InRpZXIiOiJkZXZlbG9wZXIvc2lsdmVyIiwidHlwZSI6InRocm90dGxpbmcifSx7ImNpZHJzIjpbIjgyLjIyLjIzNS4yNDQiXSwidHlwZSI6ImNsaWVudCJ9XX0.CQZK1ATKNFCQKN0gouv5jHm7EG9bmaQYNAr8IMtpEjc3dn60PkjEQXAlCZS0OUlPpj7GDAkDs3MosL_ygfmzcw',
    'Accept': 'application/json'
}
response = requests.get('https://api.clashofclans.com/v1/clans/%23QRL9RQ29/warlog', headers=headers)
dataset = response.json()

#clan Details
df_clandetails=pd.DataFrame(columns=('Clan Name','Clan Tag','Clan Team Size', 'clan Level'))
for i in dataset['items']:
    row={'Clan Name':i['clan']['name'],'Clan Tag':i['clan']['tag'],'Clan Team Size':i['teamSize'],'clan Level':i['clan']['clanLevel']}
    df_clandetails= df_clandetails.append(row, ignore_index=True)
df_clandetails= pd.DataFrame(df_clandetails.loc[1,])
df_clandetails

                            1
Clan Name       [ INSIDEOUT ]
Clan Tag            #QRL9RQ29
Clan Team Size              5
clan Level                  5

# Features selected from Dataset for KNN model

In [260]:
# converting json data into dataset
#feature selection
df=pd.DataFrame(columns=('GameResult','clanlevel','oppntclanLevel', 'clanstarsEarned','oppntStarsEarned','clanDestruction%','oppntDestruction%'))
for i in dataset['items']:
    if i['result'] == 'win':
        result = 1.0
    else:
        result = 0.0
    row={'GameResult':result,'clanlevel':i['clan']['clanLevel'],'oppntclanLevel':i['opponent']['clanLevel'],'clanstarsEarned':i['clan']['stars'],'clanDestruction%':i['clan']['destructionPercentage'],'oppntStarsEarned':i['opponent']['stars'],'oppntDestruction%':i['opponent']['destructionPercentage']}
    df = df.append(row, ignore_index=True)
df.head()

,GameResult,clanlevel,oppntclanLevel,clanstarsEarned,oppntStarsEarned,clanDestruction%,oppntDestruction%
0,1.0,5.0,10.0,13.0,5.0,90.6,42.2
1,0.0,5.0,10.0,13.0,13.0,85.6,95.0
2,0.0,5.0,15.0,11.0,12.0,81.6,96.0
3,1.0,5.0,14.0,13.0,9.0,82.2,74.0
4,1.0,5.0,6.0,10.0,9.0,68.6,74.4

# Data Cleansing

In [261]:
#data normalization
from sklearn import preprocessing
msc=preprocessing.MinMaxScaler()
scaled=msc.fit_transform(df)
df=pd.DataFrame(scaled)
df.head()

     0    1         2    3         4         5         6
0  1.0  1.0  0.500000  0.6  0.357143  0.700637  0.429735
1  0.0  1.0  0.500000  0.6  0.928571  0.541401  0.967413
2  0.0  1.0  0.777778  0.2  0.857143  0.414013  0.977597
3  1.0  1.0  0.722222  0.6  0.642857  0.433121  0.753564
4  1.0  1.0  0.277778  0.0  0.642857  0.000000  0.757637

# Applying KNN classification model(K=5)

In [262]:
  x=df.iloc[:, 1:].values #input
  y=df.iloc[:, 0].values  #output
  from sklearn.model_selection import train_test_split
  x_train, x_test, y_train, y_test= train_test_split(x,y,test_size=0.2) # test data=80% and training data =20%
  #KNN model
  from sklearn.neighbors import KNeighborsClassifier
  KNNclassifier=KNeighborsClassifier(n_neighbors=5) #KNN =5 model
  KNNclassifier.fit(x_train, y_train)
  y_pred=KNNclassifier.predict(x_test) 
  from sklearn.metrics import classification_report, confusion_matrix
  d = {'ActualResult': y_test, 'PredictedResult': y_pred}
  df_results = pd.DataFrame(data=d)
  df_results["ActualResult"].replace({1: "Win", 0: "Lose"}, inplace=True)
  df_results["PredictedResult"].replace({1: "Win", 0: "Lose"}, inplace=True)
  df_results

  ActualResult PredictedResult
0         Lose            Lose
1          Win             Win
2         Lose            Lose
3          Win             Win
4         Lose            Lose
5          Win            Lose
6          Win             Win
7          Win             Win
8          Win             Win
9         Lose            Lose

# Model reports

In [263]:
 print("classification_report:\n")
 print(classification_report(y_test,y_pred))
 print("confusion_matrix:\n")
 print(confusion_matrix(y_test,y_pred))

classification_report:

              precision    recall  f1-score   support

         0.0       0.80      1.00      0.89         4
         1.0       1.00      0.83      0.91         6

    accuracy                           0.90        10
   macro avg       0.90      0.92      0.90        10
weighted avg       0.92      0.90      0.90        10

confusion_matrix:

[[4 0]
 [1 5]]

# Accuracy of model

In [264]:
from sklearn.metrics import accuracy_score
acc = accuracy_score(y_test, y_pred)
print("accuracy : ",acc*100 ,"%")

accuracy :  90.0 %

# Realtime Prediction

In [265]:
response_rt = requests.get('https://api.clashofclans.com/v1/clans/%23QRL9RQ29/currentwar', headers=headers)
dataset = response_rt.json()

#converting json data into dataset
#feature selection
df=pd.DataFrame(columns=('GameResult','clanlevel','oppntclanLevel', 'clanstarsEarned','oppntStarsEarned','clanDestruction%','oppntDestruction%'))
if dataset['state'] == 'notInWar':
    print("currently no clan war is runing")
else:
    print("war")

currently no clan war is runing

# json file is taken as input, where values updated as clan war is runing

In [266]:
f = open('currentwar.json',)
dataset = json.load(f)
#converting json data into dataset
#feature selection
df_cw=pd.DataFrame(columns=('clanlevel','oppntclanLevel', 'clanstarsEarned','oppntStarsEarned','clanDestruction%','oppntDestruction%'))
if dataset['state'] == 'notInWar':
    print("current no clan war is runing")
else:
    row={'clanlevel':dataset['clan']['clanLevel'],'oppntclanLevel':dataset['opponent']['clanLevel'], 'clanstarsEarned':dataset['clan']['stars'],'oppntStarsEarned':dataset['opponent']['stars'],'clanDestruction%':dataset['clan']['destructionPercentage'],'oppntDestruction%':dataset['opponent']['destructionPercentage']}
    df_cw = df_cw.append(row, ignore_index=True)
x_test_cw=df_cw.iloc[:, 0:].values
y_pred=KNNclassifier.predict(x_test_cw)
df_result_cw = pd.DataFrame(np.array(y_pred),
                   columns=['GameResult'])
df_result_cw["GameResult"].replace({1: "Win", 0: "Lose"}, inplace=True)
df_result_cw

  GameResult
0        Win